.auction {
  margin-left: auto;
  margin-right: auto;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .row {
    // margin-bottom: 25px;

  }
  .card {
    margin-bottom: 20px;
  }
  .info-block {
    margin-left: auto;
    margin-right: auto;
    // text-align: left;
    margin: 25px;
    .bid-button { max-width: 60px; max-height: 60px;}
    button.small, input[type=number] {
      width: 55px;
      height: 55px;
      margin: 3px;
    }
  }
  ul {
    list-style-type: none;
    li { text-align: left;}
  }
  .top-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 15px;
    h2 {
      line-height: normal;
    }
    span {
      line-height: 3;
    }
  }

  .administration {
    .auction-controls {
      button {
        margin: 5px;
      }
    }
  }

  .messaging {
    textarea {
      min-height: 200px;
    }
  }

  .auction-room {
    padding-left: 75px;
    padding-right: 75px;

    // margin-right: 75px;

    .money-spent {
      text-align: right;
      margin: 15px;
      span {
        color: #143753;
        font-weight: 550;
      }
      span.spent{ color: #ff5722; }
    }

  }

}
