.bidders-overview {
  background-color: #143753;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 10px;
  // border: 1px solid #707070;
  h3 {color: #fff; font-size: 16px; font-weight: bold;}
  .bidder-card {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #707070;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p,span {
    color: #143753;
    margin: 0px;
  }
  .players-needed { color: #ff5722; }
}
