.bidding {

  background-color: #fe5722;

  .bidding-controls {
    span {
      font-size: 24px;
    }
    p, small {
      font-size: 14px;
      font-weight: 550;
      color: #fff;
      margin: 2px;
    }
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

    button {
      border-radius: 16px;
      width: 78px;
      height: 22px;
      padding: 0px;
      font-size: 14px;
      color: #143753;
      font-weight: bold;
      background-color: #fff;
      margin-left: 15px;
      margin-right: 15px;
    }

    input[type=number]{
      width: 78px;
      text-align: center;
    }

  }

  .controls {
    padding: 25px;
    text-align: right;
  }

  a { background-color: #fff; padding: 10px;}
  img.logo-small {
    height: 60px;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    // display: none;
  }


  .navbar-dash {

    padding: 0px;

  }

  .navbar-home {
    // padding: 15px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

}
