
// Body
$body-bg: #f5f8fa;

// Colors
$light: #3fc568; // light green
$dark: #1e7b1a; // darker, looks brown to me
$dark-2: #155211; // super dark, i'm pretty sure brown
$almost-black: #0f340c; // another really dark one, maybe green but i think this is actually another brown
$alt-black: #06020d; // pretty much black
$light-2: #17600f; // another sort of light one


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
